<div *ngIf="orderDetail; else divLoading">

  <h2>Detalles del Pedido</h2>
  <p>ID: {{ orderDetail.id }}</p>
  <p>Producto: {{ orderDetail.product }}</p>
  <p>Cantidad: {{ orderDetail.quantity }}</p>
  <p>Subtotal: {{ orderDetail.subtotal }}</p>

</div>

<ng-template #divLoading>
  <p>Cargando detalles del pedido...</p>
</ng-template>


<!-- <div *ngFor="let detail of orderDetails">

</div> -->

<!-- <div class="m-2 overflow-x-auto">

    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm" 
     >
      <thead class="ltr:text-left rtl:text-right">
        <tr >
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Producto</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Cantidad</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Subtotal</th>
        </tr>
      </thead>
  
      <tbody class="divide-y divide-gray-200">
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">1</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">2</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">3</td>
        </tr>
      </tbody>

    </table>
    
    
  </div>
   -->


