<div *ngIf="orderDetails?.length; else divNoContent">

  <h2>Detalles del Pedido</h2>
  <div class="m-2 overflow-x-auto">

    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm" *ngFor="let detail of orderDetails">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Producto</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Cantidad</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Subtotal</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{detail.product}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{detail.quantity}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{detail.subtotal}}</td>
        </tr>
      </tbody>

    </table>


  </div>



  <!-- component -->
<div class="flex flex-col">
  <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-200 border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                #
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                First
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Last
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Handle
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Mark
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Otto
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              </td>
            </tr>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Jacob
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Thornton
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              </td>
            </tr>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
              <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Larry
              </td>              
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              </td>
            </tr>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">4</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Whitney
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Austin
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              </td>
            </tr>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">5</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Ted
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Obama
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




 



</div>

<ng-template #divNoContent>
  <p>No hay pedidos en la orden.</p>
</ng-template>







<!-- <h3>Contenido Completo (JSON)</h3> -->