<!-- card container -->
<div class="md:px-4 md:grid md:grid-cols-2 m-2 lg:grid-cols-3 gap-5 space-y-2 md:space-y-0">
  <div *ngFor="let order of orderList">

    <!-- order card -->
    <div class="max-w-sm bg-white px-4 pt-4 pb-2 rounded-xl shadow-lg transform ">

      <div class="flex items-center justify-between">
        <p class=" text-lg font-bold text-orange-400">Orden: <span>{{order.order}}</span></p>

          <span *ngIf="order.isOrderComplete === false" class="rounded-xl bg-red-100 text-red-600 px-2 py-1 text-xs">{{
            order.isOrderComplete }}</span> 
          <span *ngIf="order.isOrderComplete === true" class="rounded-xl bg-green-100 text-green-600 px-2 py-1 text-xs">{{
            order.isOrderComplete }}</span>

      </div>

      <div class="my-2">

        <!-- <div class="flex space-x-1 items-center">
          <p class="font-medium text-gray-600">Mesa: </p>
          <span class="text-gray-500">{{order.table}}</span>
        </div>

        <div class="flex space-x-1 items-center">
          <p class="font-medium text-gray-600">Responsable: </p>
          <span class="text-gray-500">{{order.waiter}}</span>
        </div> -->

        <dl class="mt-1.5 flex gap-4 sm:gap-6">
          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Mesa</dt>
            <dd class="text-xs text-gray-500">{{order.table}}</dd>
          </div>

          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Atendida por:</dt>
            <dd class="text-xs text-gray-500">{{order.waiter}}</dd>
          </div>

          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Hora: </dt>
            <dd class="text-xs text-gray-500">{{order.createdAt}}</dd>
          </div>

        </dl>

        <dl class="mt-1.5 flex gap-4 sm:gap-6">
          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">No. orden</dt>
            <dd class="text-xs text-gray-500">321456</dd>
          </div>

          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Estado de pago</dt>
            <dd class="text-xs text-gray-500">{{order.paymentStatus}}</dd>
          </div>
        </dl>

        <button
          class="mt-4 w-full font-medium text-white text-lg bg-orange-400 py-2 rounded-xl shadow-lg hover:bg-orange-500"
          [routerLink]="[ '/orders/', order.order ]">Ver pedido
        </button>

      </div>
      <!-- end order card -->

    </div>
  </div>


</div>
<!-- end card container -->

