
<form [formGroup]="newOrderForm" (ngSubmit)="onSubmit()">

  <label>Turno: </label>
  <input formControlName="ticketId">

  <label>Mesa: </label>
  <input formControlName="mesa">

  <label>Mesero: </label>
  <input formControlName="mesero">

  <label>Estado: </label>
  <input formControlName="estado">

  <label>Pago: </label>
  <input formControlName="pago">
  
  <label>Producto: </label>
  <input [formControl]="newItem">
  <button (click)="addProduct()">Agregar</button>

  <label>Nota: </label>
  <input formControlName="nota">
  
  <div formArrayName="pedido">
    <p>Listado pedido: </p>
    <ul *ngFor="let item of pedido.controls; let i = index">
      <li [formControlName]="i">{{ item.value }}</li>
    </ul>
    
  </div>  
</form>

<button (click)="onSubmit()">Enviar</button>

<pre>{{ currentOrder | json }}</pre>

<div> "ESTE BLOCQUE VA PERO EN EL FORMULARIO DE ORDENES"
    <label for="OrderNotes" class="block text-sm font-medium text-gray-700">
      Order notes
    </label>
    <textarea id="OrderNotes" class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm" rows="4"
      placeholder="Enter any additional order notes..."></textarea>
  </div>