<div class="flex items-center justify-center min-h-screen" >

  <div class="bg-white mx-2 p-6 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold text-start text-orange-400">{{title}}</h2>
    <p class="text-sm text-gray-700 mb-6 text-start">Ingresa la informacion requerida</p>
    <form [formGroup]="newOrderForm" (ngSubmit)="onSubmit()" class="space-y-4">
  
      <div>
        <label class="block text-sm font-medium text-gray-700">No. Orden: <span>{{ticketId}}</span> </label>
        
        <!-- <input  formControlName="ticket"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
          required> -->
      </div>
  
      <div>
        <label class="block text-sm font-medium text-gray-700">Atendido por:
          <span class="text-lg">{{waiter}}</span>
        </label>
    
        <!-- <input formControlName="waiter"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
          required
          >  -->
      </div>
  
      <div>
        <label class="block text-sm font-medium text-gray-700">Mesa</label>
        <input type="text" formControlName="table"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
          required>
      </div>
  
      <div>
        <button type="submit"
          class="w-full bg-orange-500 text-white px-4 py-2 rounded-md shadow hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
          >Generar</button>
      </div>
    </form>
  </div>
  
  
  
</div>

<pre>{{ currentOrder | json }}</pre>