<div id="modal-overlay" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50">

  <div class="w-full max-w-md mx-4">
    
    <span class="cursor-pointer" (click)="closeModal()">x</span>
    
    <ng-content></ng-content>

    <div class="flex justify-end mt-4">
      <!-- <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2" >Cancel</button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Confirm</button> -->
    </div>
  </div>

</div>

<!-- <script>
  function closeModal() {
    document.getElementById('modal-overlay').style.display = 'none';
  }
</script> -->
