<div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3 space-y-3 md:space-y-0">

  <!-- order card -->
  <div class="max-w-sm bg-white px-4 py-2.5 rounded-xl shadow-lg transform" *ngFor="let order of orderList">
    <div class="flex items-center justify-between">
      <p class="text-xl font-medium text-orange-400">Turno: <span>{{ order.turno }}</span></p>
      <!-- <span showOrderStates >{{ order.estado }}</span> -->
      <span *ngIf="order.estado === 'PENDIENTE'" class="rounded-xl bg-red-100 text-red-600 px-2 py-1 text-xs">{{ order.estado | lowercase }}</span>
      <span *ngIf="order.estado === 'ATENDIDA'" class="rounded-xl bg-green-100 text-green-600 px-2 py-1 text-xs">{{ order.estado | lowercase }}</span>
    </div>

    <div class="my-1">

      <div class="mt-1.5 flex gap-4 sm:gap-6" >
        <div class="flex flex-col">
          <dt class="font-medium text-gray-600">Mesa: </dt>
          <dd class="text-gray-500">{{ order.mesa }}</dd>
        </div>
  
        <div class="flex flex-col">
          <dt class="font-medium text-gray-600">Mesero: </dt>
          <dd class="text-gray-500">{{ order.mesero }}</dd>
        </div>

        <div class="flex flex-col">
          <dt class="font-medium text-gray-600">Pago:</dt>
          <dd class="text-gray-500">{{ order.pago | lowercase }}</dd>
        </div>
      </div>

      <dl class="mt-1.5 flex gap-4 sm:gap-6">
        <!-- <div class="flex flex-col">
          <dt class="text-sm font-medium text-gray-600">No. orden</dt>
          <dd class="text-sm text-gray-500"> {{ order.id }}</dd>
        </div> -->

        
      </dl>

      <button
        class="mt-4 w-full font-medium text-white text-lg bg-orange-400 py-2 rounded-xl shadow-lg hover:bg-orange-500"
        [routerLink]="['/orders/',order.id]"
        >Detalles
      </button>
    </div>
  </div>
  <!-- end order card -->

  <!-- componente de prueba temporal -->
  <div class="max-w-sm bg-white px-4 py-2.5 rounded-xl shadow-lg transform">
    <div class="flex items-center justify-between">
      <p class=" text-lg font-bold text-orange-500">Turno: <span>17</span></p>
      <p class="rounded-xl bg-red-100 text-red-600 px-2 py-1 text-xs">Pendiente</p>
      <!-- <p class="rounded-xl bg-green-100 text-green-600 px-2 py-1 text-xs">{{ order.estado }}</p> -->
    </div>

    <div class="my-1">

      <div class="mt-1.5 flex gap-4 sm:gap-6" >
        <div class="flex space-x-1 items-center">
          <p class="font-medium text-gray-600">Mesa: </p>
          <span class="text-gray-500">12</span>
        </div>
  
        <div class="flex space-x-1 items-center">
          <p class="font-medium text-gray-600">Mesero: </p>
          <span class="text-gray-500">Rosita</span>
        </div>
      </div>

      <dl class="mt-1.5 flex gap-4 sm:gap-6">
        <div class="flex flex-col">
          <dt class="text-sm font-medium text-gray-600">No. orden</dt>
          <dd class="text-sm text-gray-500">741</dd>
        </div>

        <div class="flex flex-col">
          <dt class="text-sm font-medium text-gray-600">Estado de pago</dt>
          <dd class="text-sm text-gray-500">Pendiente</dd>
        </div>
      </dl>

      <button
        class="mt-4 w-full font-medium text-white bg-orange-400 py-2 rounded-xl shadow-lg hover:bg-orange-600"
        >Detalles
      </button>
    </div>
  </div>
  <!-- componente de prueba temporal -->

</div>

<!-- {{ orderList | json }} -->

