<div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-4 gap-3 space-y-3 md:space-y-0">

  <!-- order card -->
  <div class="max-w-sm bg-white px-4 py-2.5 rounded-xl shadow-lg transform" *ngFor="let order of orderList">
    <div class="flex items-center justify-between">
      <p class=" text-xl font-bold text-orange-500">Turno: <span>{{ order.turno }}</span></p>
      <p class="rounded-xl bg-red-100 text-red-600 px-2 py-1 text-xs">{{ order.estado }}</p>
      <!-- <p class="rounded-xl bg-green-100 text-green-600 px-2 py-1 text-xs">{{ order.estado }}</p> -->
    </div>

    <div class="my-1">

      <div class="flex space-x-1 items-center">
        <p class="font-medium text-gray-600">Mesa: </p>
        <span class="text-gray-500">12</span>
      </div>

      <div class="flex space-x-1 items-center">
        <p class="font-medium text-gray-600">Mesero: </p>
        <span class="text-gray-500">{{ order.mesero }}</span>
      </div>

      <dl class="mt-1.5 flex gap-4 sm:gap-6">
        <div class="flex flex-col">
          <dt class="text-sm font-medium text-gray-600">No. orden</dt>
          <dd class="text-xs text-gray-500"> {{ order.id }}</dd>
        </div>

        <div class="flex flex-col">
          <dt class="text-sm font-medium text-gray-600">Estado de pago</dt>
          <dd class="text-xs text-gray-500">{{ order.pago }}</dd>
        </div>
      </dl>

      <button class="mt-4 w-full font-semibold text-white bg-orange-500 py-2 rounded-xl shadow-lg hover:bg-orange-600">Detalles</button>

    </div>
  </div>
  <!-- end order card -->

  <!-- boton para agregar nueva orden -->
  <!-- <div class="flex flex-col bg-orange-50 rounded-lg p-3 cursor-pointer
   items-center justify-center border-orange-300 border-2 border-dashed">
    <div class="flex items-center border-2 border-dashed h-14 w-14
      rounded-full cursor-pointer border-orange-300">
      <i class="p-2 text-orange-300 text-5xl"> + </i>
    </div>
    <p class="text-xl text-orange-300 font-medium">Crear nueva orden</p>
  </div> -->

</div>
