<p>Crear Producto</p>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <!-- <label>Código: </label>
  <input formControlName="product_id"> <br> -->

  <label>Titulo: </label>
  <input type="text" formControlName="title"> <br>

  <label>Descripcion: </label>
  <input type="text" formControlName="description"> <br>

  <label>Imagen: </label>
  <input type="text" formControlName="imageUrl"> <br>

  <label>Precio: </label>
  <input type="number" step="any" formControlName="price"> <br>

  <label>Disponible: </label>
  <input type="checkbox" formControlName="inStock"> <br>

  <button (click)="onSubmit()">Enviar</button>

</form>

<pre>{{ currentProduct | json }}</pre> 

