<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">

   <div *ngFor="let product of productList">
      <img class="object-cover h-36 w-36" [src]="product.url_image" alt="Imagen del producto">
      <p>Titulo: {{ product.product_name }}</p>
      <p>Descripción: {{ product.description }}</p>
      <p>Precio: {{ product.price }}</p>
      <p>Disponible: {{ product.in_stock }}</p>
   </div>

   <button class="self-end px-2.5 py-1.5 bg-ord-yellow text-ord-brown1 text-sm font-bold uppercase rounded-xl"
      [routerLink]="[]" (click)="openModal()">Editar
   </button>

</div>

<!-- boton para agregar nuevo producto -->
<!-- <add-button [routerLink]="['/products/new']"></add-button> -->
<!-- <add-button (click)="openModal()"></add-button> -->