


  <nav class="bg-orange-400 border-b border-gray-200 px-4 py-2.5 fixed left-0 right-0 top-0 z-50">
    <div class="flex flex-wrap justify-between items-center">

      <div class="flex justify-start items-center">
        <button
          type="button"
          class="p-2 mr-1 md:hidden">
          <span class="sr-only">Toggle search</span>
          <mat-icon>menu</mat-icon>
        </button>

        <!-- logo marca-->
        <a href="https://flowbite.com" class="flex items-center justify-between mr-4">
          <img
            src=""
            class="mr-3 h-8"
            alt=""
          />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Ordenaly</span>
        </a>
      </div>

      <div class="flex items-center lg:order-2">
        
        <button mat-flat-button color="primary">Primary</button>

        <button
          type="button"
          class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="dropdown"
        >
          <span class="sr-only">Open user menu</span>
          <img
            class="w-8 h-8 rounded-full"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
            alt="user photo"
          />
        </button>

        

      </div>
    </div>
  </nav>
