  <mat-drawer-container autosize>

    <div class="bg-orange-400">
      <mat-toolbar>
        <button class="">
          <mat-icon mat-icon-button (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <mat-drawer #sidenav class="w-56 h-full" >

      <div class="bg-orange-400">
        <mat-toolbar>
          <span>Ordenaly</span>
        </mat-toolbar>
      </div>

      <mat-list role="listitem">
        <mat-list-item routerLink="/app/tickets" role="listitem">Item 1</mat-list-item>
        <mat-list-item routerLink="/app/orders" role="listitem">Item 2</mat-list-item>
        <mat-list-item routerLink="/app/products" role="listitem">Item 3</mat-list-item>
      </mat-list>

    </mat-drawer>

    <div>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
