<div class="flex flex-wrap items-center justify-center gap-2 p-2 bg-orange-50 rounded-lg border-2 border-orange-400 border-dashed">

  <div class="flex items-center space-x-2 px-2">
    <label for="product" class="text-gray-600">Plato: </label>
    <select id="product" [(ngModel)]="selectedProductId" class="border rounded px-2 py-1 text-center w-48">
      <option *ngFor="let product of products" [value]="product.id">{{ product.title }}</option>
    </select>
  </div>


  <div class="space-x-3 px-2">
    <button (click)="decrement()" class="text-orange-400 font-bold">-</button>
    <span class="px-2 py-1 bg-white border rounded border-gray-300">{{ quantity }}</span>
    <button (click)="increment()" class="text-orange-400 font-bold">+</button>
  </div>

  <button
    class=" text-orange-400 text-lg font-bold py-1 px-3 rounded cursor-pointer hover:text-white hover:bg-orange-400">
    
    Enviar
  </button>

</div>