<mat-sidenav-container class="w-auto h-screen">

  <mat-sidenav #sidenav mode="push" class="w-64 h-screen">

    <mat-toolbar class="bg-orange-400">
      <button mat-icon-button class="pr-4" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-2xl font-semibold text-white">Ordenaly</span>
      <span class="pl-8"></span>
    </mat-toolbar>

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>
          <a mat-button routerLink="/orders/list">Ordernes</a></span>
        <span matListItemLine>Second line</span>
      </mat-list-item>

      <div class="bg-orange-100">
        <mat-list-item>
          <span matListItemTitle><a mat-button>Productos</a></span>
          <span >Gestiona tus productos</span>
        </mat-list-item>
      </div>

      <mat-list-item>
        <span matListItemTitle>Title</span>
        Second line
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="bg-orange-400">
      <button mat-icon-button class="pr-4" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-2xl font-semibold text-white ">Productos</span>
      <span class="pl-8"></span>
      <!-- <button mat-icon-button class="">
        <mat-icon>favorite</mat-icon>
      </button> -->
    </mat-toolbar>

    <mat-tab-group animationDuration="0ms">
      <mat-tab *ngFor="let filterTab of filterTabs" label="{{filterTab}}"></mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>