<p>Crear Producto</p>

<form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">

  <label>Nombre: </label>
  <input formControlName="product_id">

  <label>Nombre: </label>
  <input formControlName="product_name">

  <label>Descripcion: </label>
  <input formControlName="description">

  <label>Precio: </label>
  <input type="number" formControlName="price">

  <label>Disponible: </label>
  <input formControlName="in_stock">

  <button (click)="onSubmit()">Enviar</button>
  
</form>


<pre>{{ currentProduct | json}}</pre>
