
<footer class="bg-orange-400 shadow sm:flex sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 antialiased fixed left-0 right-0 bottom-0 z-50">
  <p class="mb-4 text-sm text-center text-black sm:mb-0">
      &copy; 2022-2023 <a href="https://ordenalyApp.com/" class="hover:underline" target="_blank">ordenaly.com</a> All rights reserved.
  </p>
  <div class="flex justify-center items-center space-x-1">
    
    <a href="#" data-tooltip-target="tooltip-github" class="inline-flex justify-center p-2 text-black rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100">
        <mat-icon>work</mat-icon>
        <span class="sr-only">Github</span>
    </a>
    <div id="tooltip-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
        Star us on GitHub
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  
</div>
</footer>
