
<main class="w-full md:pl-64 pt-12">

  <form class="" [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <!-- <mat-form-field>
      <mat-label>Id Orden:</mat-label>
      <input matInput required formControlName="id">
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Ticket</mat-label>
      <input matInput required formControlName="ticket">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Mesero</mat-label>
      <select matNativeControl required formControlName="waiter">
        <option value="Rosa">Rosa</option>
        <option value="Martha">Martha</option>
        <option value="Jean">Jean</option>
      </select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Mesa</mat-label>
      <select matNativeControl required formControlName="table">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Estado:</mat-label>
      <select matNativeControl required formControlName="status">
        <option value="pendiente">pendiente</option>
        <option value="completa">completa</option>
      </select>
    </mat-form-field>

  </form>

  <button 
    mat-button color="primary" 
    (click)="onSubmit()">
    Guardar
  </button>

</main>

<pre>{{ currentOrder | json }}</pre>

