<div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-4 gap-3 space-y-3 md:space-y-0">

  <!-- ticket card -->
    <div class="max-w-sm bg-white px-4 pt-4 pb-2 rounded-xl shadow-lg transform ">
      <div class="flex items-center justify-between">
        <p class=" text-xl font-bold text-orange-500">Turno: <span>02</span></p>
      </div>

      <div class="flex items-center justify-between">
        <dl class="flex gap-4 sm:gap-6">
          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Hora:</dt>
            <dd class="text-xs text-gray-500">01:25 pm</dd>
          </div>

          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Mesa:</dt>
            <dd class="text-xs text-gray-500">Sin asignar</dd>
          </div>

          <div class="flex flex-col">
            <dt class="text-sm font-medium text-gray-600">Orden:</dt>
            <dd class="text-xs text-gray-500">Sin orden</dd>
          </div>
        </dl>
        <button class="mt-2 w-1/3 font-semibold text-white bg-orange-500
                 py-2 rounded-xl shadow-lg hover:bg-orange-600">Tomar
        </button>
      </div>
    </div>
  <!-- end ticket card -->

  <!-- boton para genera ticket -->
  <div class="flex flex-col bg-orange-50 rounded-lg p-3 cursor-pointer
   items-center justify-center border-orange-300 border-2 border-dashed">
    <div class="flex items-center border-2 border-dashed h-14 w-14
      rounded-full cursor-pointer border-orange-300">
      <i class="p-2 text-orange-300 text-5xl"> + </i>
    </div>
    <p class="text-xl text-orange-300 font-medium">Nuevo turno</p>
  </div>

</div>

