<div class="flex flex-col max-w-sm bg-orange-50 rounded-lg py-4 mt-0
            items-center justify-center border-orange-400 border-2 border-dashed">
  <div class="flex justify-center items-center border-2 border-dashed h-14 w-14 rounded-full cursor-pointer border-orange-400">
    <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 -960 960 960" width="64px" fill="#fb923c">
      <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
    </svg>
  </div>
  <!-- <p class="text-orange-400 font-medium">{{title}}</p> -->
</div>