<mat-sidenav-container class="w-auto h-screen">

  <mat-sidenav #sidenav mode="over" class="w-64 h-screen">

    <mat-toolbar class="bg-orange-400">
      <button mat-icon-button class="pr-4" (click)="sidenav.toggle()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="text-2xl font-semibold text-white">Ordenaly</span>
      <span class="pl-8"></span>
    </mat-toolbar>

    <mat-list class="mt-0">
      <mat-list-item 
        *ngFor="let item of menuOption"
        [routerLink]="[ item.route]">
        <span matListItemTitle>{{ item.title }}</span>
        <span matListItemLine>Genera turnos</span>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="bg-orange-400">
      <button mat-icon-button class="pr-4" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-2xl font-semibold text-white ">Dashboard</span>
      <span class="pl-8"></span>
      <!-- <button mat-icon-button class="">
        <mat-icon>favorite</mat-icon>
      </button> -->

      <!-- avatar -->
      <button clas type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0" routerLink="/auth/login">
        <img class="w-8 h-8 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
      </button>

    </mat-toolbar>

    <div class="flex flex-wrap">
      <div class=" flex-auto w-64">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>