
<div *ngFor="let order of orderList" class="bg-white rounded-md border shadow-md m-2">

  <div class="flex place-items-center my-4">

    <!-- <div class=" ml-4">
          <img src="https://placehold.co/32x32" class="rounded-full h-18 w-16 " alt="">
        </div> -->

    <ul class="flex items-stretch flex-wrap">
      <li class="w-25 px-4">
        Ticket: <span class="font-normal">{{ order.ticket }}</span>
      </li>
      <li class="w-25 px-4">
        Mesa: <span class="font-normal">{{ order.table }}</span>
      </li>
      <li class="w-15 px-4">
        Orden: <span class="font-normal">{{ order.id }}</span>
      </li>
      <li class="w-30 px-4">
        Mesero: <span class="font-normal">{{ order.waiter }}</span>
      </li>
      <li class="w-25 px-4">
        Estado: <span class="font-normal">{{ order.status }}</span>
      </li>
      <li class="w-30 px-4"> 
        Items: <span class="font-normal">{{ order.items}}</span> 
      </li>
    </ul>

   
   


    <div class="mr-4">
      <button class="text-orange-400">
        <a href="#">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </button>
    </div>

  </div>
</div>