<div class="bg-orange-400 flex items-center justify-center h-screen">
  <div class="bg-white mx-2 p-6 rounded-lg shadow-lg w-full max-w-sm">

    <h2 class="text-4xl font-bold text-center text-orange-400">Ordenaly</h2>
    <p class="text-sm text-gray-700 mb-6 text-center">Iniciar sesión</p>

    <form action="#" method="POST" class="space-y-4">

      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Usuario</label>
        <input type="text" id="username" name="username"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
          required>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input type="password" id="password" name="password"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm"
          required>
      </div>

      <div>
        <button type="submit"
          class="w-full bg-orange-500 text-white px-4 py-2 rounded-md shadow hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">Ingresar</button>
      </div>

    </form>

    <p class="mt-6 text-center text-sm text-gray-600">
      ¿No tienes una cuenta? 
      <a routerLink="/auth/register" class="text-orange-600 hover:text-orange-500"
      >Registrate aquí</a>
    </p>

  </div>
</div>