<a class="flex items-center mb-6 text-4xl font-semibold text-orange-400"
routerLink="/orders">
  <!-- <img class="w-8 h-8 mr-2" src="" alt="logo"> -->
  Ordenaly
</a>
<div class="w-full bg-white rounded md:mt-0 sm:max-w-md xl:p-0">
  <div class="p-6 space-y-2 md:space-y-6 sm:p-8">
    <h1 class="text-xl font-medium text-gray-500 md:text-2xl">
      Ingresar
    </h1>
    <form class="space-y-4 md:space-y-6" action="#">

      <div class="w-full">
        <label>Usuario o Email</label>
        <input type="text" matInput>
      </div>

      <div class="w-full">
        <label>Contraseña</label>
        <input type="password" matInput>
      </div>

      <div class="bg-orange-400 rounded">
        <button type="submit"
          class="w-full text-white bg-primary-600 hover:bg-orange-500 font-medium rounded-lg px-5 py-2.5 text-center ">Confirmar</button>
      </div>
      <p class="font-light text-gray-600">
        No tengo cuenta quiero
        <a routerLink="/auth/register" class="text-orange-400 font-medium hover:text-orange-500">registrarme</a>
      </p>

    </form>
  </div>
</div>